@inherits LayoutComponentBase
@using Microsoft.Extensions.DependencyInjection


<div class="main" style="width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
">


    <div class="content px-4" style="width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
">
        @Body
    </div>

   
</div>
@code {
    [Inject]
    protected NavigationManager NavigationManager { get; set; }

    public MainLayout()
    {

    }

    protected override void OnAfterRender(bool firstRender)
    {
     //   EnsureCorrectRoot();
        base.OnAfterRender(firstRender);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }

}
