@page "/ScriptViewer"
<h3>ScriptViewer</h3>
<b>@Slides.SharedSlide</b>
<p>@(ViewingSlide.Script)</p>
@code {
    private BlazorPresentation.SlideData currentSlide = new BlazorPresentation.SlideData
    {
        Title = "loading...",
        Body = (Microsoft.AspNetCore.Components.MarkupString)"please wait",
        Images = new List<string>()
    };

    public BlazorPresentation.SlideData ViewingSlide
    {
        get => currentSlide;
        set => currentSlide = value;
    }

    void Slides_SlideChanged(object sender, EventArgs e)
    {
        ViewingSlide = BlazorPresentation.Slides.SharedSlides[BlazorPresentation.Slides.SharedSlide - 1];
        InvokeAsync(()=>StateHasChanged());
    }

    protected override void OnAfterRender(bool firstRender)
    {
        BlazorPresentation.Slides.SlideChanged += Slides_SlideChanged;
    }
}
